.board {

}
.board__row {
    display: flex;
    justify-content: center;
}

.board__cell {
    border: 1px solid blue;
    text-align: center;
    padding: 10px 15px;
}
.board__cell:hover {
    background-color: rgb(224, 224, 247);
}
.pad {
    display: flex;
    flex-direction: column;
}
.padnum {
    padding: 5px;
    background-color: cornflowerblue;
}
.padnum-top, .padnum-bottom {
    display: flex;
}